# Config file used by stdeb when building a Debian source package.

# http://pypi.python.org/pypi/stdeb/#stdeb-cfg-configuration-file

[migasfree-sdk]
Source: migasfree-sdk
Package: migasfree-sdk
Section: python
Maintainer: Jose Antonio Chavarria <jachavar@gmail.com>
Debian-Version = 1
Build-Depends = python (>=2.7), python-stdeb, python-setuptools
Build-Depends3 = python (>=3.3), python3-stdeb, python3-setuptools
Depends = python-requests, python:any (>= 2.7)
Depends3 = python3-requests, python:any (>= 3.3)
Suggests: migasfree-client
